html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main {
  width: 600px;
  height: 600px;
  background-color: black;
  display: grid;
}
button {
  padding: 10px;
}
